In [9]:
import pandas as pd

In [10]:
train_df = pd.read_csv('data/train.csv')
test_df = pd.read_csv('data/test.csv')

In [11]:
train_df.head()

              날짜        강우  피해발생여부
0  2022-7-1 1:00  1.000000       1
1  2022-7-1 2:00  2.000000       0
2  2022-7-1 3:00  3.000000       1
3  2022-7-1 4:00  0.051528       0
4  2022-7-1 5:00  0.347628       1

In [12]:
test_df.head()

               날짜        강우
0  2022-8-12 1:00  0.722407
1  2022-8-12 2:00  0.978651
2  2022-8-12 3:00  0.369001
3  2022-8-12 4:00  0.637877
4  2022-8-12 5:00  0.645076

In [13]:
# null 체크
train_df.isnull().sum()

날짜        0
강우        0
피해발생여부    0
dtype: int64